<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Join Club</title>
</head>
<body>

<h1>Join Harare Chess Club ♟️</h1>

<form th:action="@{/members/register}"
      th:object="${member}"
      method="post">

    <label>Full Name</label>
    <input type="text" th:field="*{fullName}">
    <br><br>

    <label>Phone Number</label>
    <input type="text" th:field="*{phoneNumber}">
    <br><br>

    <label>Email</label>
    <input type="email" th:field="*{email}">
    <br><br>

    <label>Rating</label>
    <input type="number" th:field="*{rating}">
    <br><br>

    <button type="submit">
        Register
    </button>

</form>

</body>
</html>